/*
 * 1.0.0 CSS Reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Size Fix */
html {
	box-sizing: border-box;
}

*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	border-left: 10px solid #B29500;
	border-right: 10px solid #B29500;
	background: #7A7A78;
	position: relative;
}

/*
 * 1.0.1 Main Road Box
 */

.road-box {
	overflow: hidden;
	position: absolute;
	bottom: -700px;
}

.road-lines-left {
	border-right: 8px solid #ffffff;
	background: red;
	margin-top: 20%;
}

.road-lines-right {
	background: blue;
	margin-top: 20%;
}

.road-line-container-left {
	float: left;
}

.road-line-container-right {
	float: right;
	margin-right: 21px;
}

.road-line-container {
	overflow: hidden;
}

.road-box {
	display: none;
}

/* Game Start Button */
.game-start-level-one {
	position: absolute;
	padding: 20px;
	background: #85C413;
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 1.2em;
}

/* Home Screen Background */
.home-screen-background {
	background: cornsilk;
}

/* Car Image */
.car-img {
	position: fixed;
	bottom: 15%;
	left: 19%;
	width: 18%;
	display: inline-block;
}

/* Direction Button Container and Images */
.direction-button-container {
	position: fixed;
	bottom: 5%;
	left: 6%;
	display: inline;
}

.direction-button-container img {
	display: inline-block;
	width: 10%;
}

.left-direction-button {
	margin-right: 5%;
}

/* Motion controls Stop button and Acceleration Button */

.stop-acceleration-img, .accelerate-img {
	position: fixed;
	bottom: 4%;
	right: 5%;
	width: 25%;
	float: right;
}

.stop-acceleration-img {
	bottom: 11%;
}


